@page "/"

<PageTitle>Index</PageTitle>

<br />
<br />
<div class="container">
    <span style="font-size:100px; text-align:center;">&#128075;&#127995;</span><span style="font-size:50px;"> Welcome! </span>
    <h3 style="text-align:center;"> Todo Records for the week</h3>
</div>